:root {
    --white: #dadada;
    --black: #101010;
}

* {
    box-sizing: border-box;
    /* border: 1px dotted var(--black); */
}

html,
body {
    position: relative;
    overflow-x: hidden;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(0deg, darkblue, red);
}

/* halaman sejarah */
#sejarah {
    width: 100%;
    min-height: 100vh;
    position: relative;
    top: 0;
    left: 0;
    margin-top: 60px;
}

/* id back */
#sejarah #back {
    position: absolute;
    top: -2%;
    left: 5%;
    z-index: 1;
    width: 120px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border: 2px solid var(--white);
    background: transparent;
    color: var(--white);
    box-shadow: 5px 5px 10px var(--black);
    cursor: pointer;
    transition: all 0.3s ease;
}

#sejarah #back:hover {
    background-color: var(--white);
    color: var(--black);
    border: none;
    box-shadow: none;
    transform: scale(1.1);
}

/* class container */
#sejarah .container {
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
}

/* tag h2 */
#sejarah .container h2 {
    position: relative;
    top: 0;
    text-align: center;
    font-size: 1.5rem;
    font-family: pacifico;
    color: var(--black);
}

/* class content */
#sejarah .container .content {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
}

/* class sejarah */
#sejarah .container .content .sejarah {
    background-color: lightblue;
    padding: 20px;
    border-radius: 10px;
}

/* class sejarah dan class other */
#sejarah .container .content .sejarah,
#sejarah .container .content .other {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    text-align: justify;
    margin-top: 50px;
}

/* tag p */
#sejarah .container .content .sejarah p,
#sejarah .container .content .other .fitur p {
    font-size: 1rem;
}

/* class other */
#sejarah .container .content .other {
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    column-gap: 5px;
}

/* class fitur */
#sejarah .container .content .other .fitur {
    width: 48%;
    height: auto;
    border-radius: 10px;
    position: relative;
    top: 0;
    padding: 20px 10px 0 0;
    display: flex;
    flex-direction: column;
    background-color: lightblue;
}

/* class tragedi */
#sejarah .container .content .other .tragedi {
    width: 48%;
    height: auto;
    background-color: grey;
    border-radius: 10px;
    padding: 10px;
    position: relative;
    top: 0;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

/* tag h2 */
#sejarah .container .content .other .tragedi h2 {
    font-size: 1.2rem;
    font-family: pacifico;
    cursor: default;
}

/* class card */
#sejarah .container .content .other .tragedi .card {
    width: 200px;
    height: 180px;
    border-radius: 10px;
    position: relative;
    top: 0;
    left: 0;
    background: none;
    outline: none;
    border: none;
}

/* tag img */
#sejarah .container .content .other .tragedi img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 0.3s ease;
    margin: 10px 0;
    z-index: 1;
    border-radius: 10px;
    position: absolute;
    top: -10px;
    left: 0;
    transition: all 0.5s ease;
    /* opacity: 0; */
}

/* class card-body */
#sejarah .container .content .other .tragedi .card-body {
    width: 70%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 5px;
    border-radius: 10px;
    background-color: red;
    color: var(--black);
    z-index: 0;
    transition: all 0.5s ease;
}

/* tag h3 */
#sejarah .container .content .other .tragedi h3 {
    position: relative;
    top: 0;
    font-size: 1rem;
}

/* tag span */
#sejarah .container .content .other .tragedi span {
    position: relative;
    top: 0;
    font-size: 0.8rem;
}

#sejarah .container .content .other .tragedi img:hover {
    transform: translate(-60px);
    border-radius: 10px 0 0 10px;
}

#sejarah .container .content .other .tragedi img:hover+.card-body {
    transform: translate(70px);
    border-radius: 0 10px 10px 0;
}

/* tag p */
#sejarah .container .content .other .tragedi p {
    font-size: 1rem;
    text-align: justify;
    cursor: default;
}

/* class btn */
#sejarah .container .content .other .btn {
    width: 190px;
    height: 40px;
    position: absolute;
    bottom: 0;
    right: 10%;
    border-radius: 10px;
    border: 2px solid var(--white);
    color: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    background: transparent;
    box-shadow: 5px 5px 10px #000000;
    transition: all 0.3s ease;
}

#sejarah .container .content .other .btn:hover {
    transform: scale(1.1);
    background: var(--white);
    color: var(--black);
    box-shadow: none;
}


/* halaman footer */
footer {
    position: relative;
    top: 0;
    margin-top: 20px;
    width: 100%;
    min-height: 10vh;
    background-color: yellowgreen;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

/* class cipta */
footer .cipta {
    display: flex;
    align-items: center;
    flex-direction: column;
    row-gap: 5px;
    margin: 0;
}

/* tag h5 */
footer .cipta h5 {
    margin: 0;
    font-size: 1rem;
    color: var(--black);
}

/* tag img */
footer .cipta img {
    position: relative;
    top: 0;
    width: 50px;
    height: 50px;
    margin: 0;
    object-fit: cover;
    border-radius: 50px;
    margin-top: 5px;
}

/* class contact */
footer .contact {
    display: flex;
    flex-direction: column;
    margin: 0;
    color: var(--black);
}

/* tag h2 */
footer .contact h2 {
    margin: 0;
    font-size: 1rem;
    font-weight: bold;
    cursor: default;
}

/* tag span */
footer .contact span {
    margin: 0;
    font-size: 0.8rem;
    cursor: default;
}

/* tag i */
footer .contact i {
    font-size: 1.2rem;
}

/* class sosial */
footer .sosial {
    display: flex;
    flex-direction: column;
    margin: 0;
    color: var(--black);
}

/* tag h2 */
footer .sosial h2 {
    margin: 0;
    font-size: 1rem;
    font-weight: bold;
    cursor: default;
}

/* tag span */
footer .sosial span {
    margin: 0;
    font-size: 0.8rem;
    cursor: default;
}

/* tag i */
footer .sosial i {
    font-size: 1.2rem;
    margin-right: 3px;
}

@media screen and (max-width: 767px) {

    #sejarah .container .content {
        margin-top: -20px;
    }

    #sejarah .container .content .other {
        margin-top: 10px;
    }

    #sejarah .container .content .other .fitur,
    #sejarah .container .content .other .tragedi {
        width: 100%;
        margin: 10px 0;
    }

    #sejarah .container .content .sejarah h2,
    #sejarah .container .content .other .fitur h2,
    #sejarah .container .content .other .tragedi h2 {
        font-size: 1.2rem;
    }

    #sejarah .container .content .sejarah p,
    #sejarah .container .content .other .fitur li,
    #sejarah .container .content .other .tragedi p {
        font-size: 0.8rem;
    }

    #sejarah .container .content .other .btn {
        position: relative;
        top: 0;
        left: 45%;
        margin-bottom: 20px;
    }

    #sejarah .container .content .other .tragedi img {
        width: 180px;
        height: 160px;
        position: absolute;
        left: 5%;
    }

    /* class card-body */
    #sejarah .container .content .other .tragedi .card-body {
        width: 130px;
        height: 160px;
        position: absolute;
        top: 0;
        left: 28%;
    }

    #sejarah .container .content .other .tragedi h3 {
        position: relative;
        top: 0;
        font-size: 0.9rem;
    }

    #sejarah .container .content .other .tragedi span {
        position: relative;
        top: 0;
        font-size: 0.7rem;
    }

    #sejarah .container .content .other .tragedi img:hover {
        transform: translate(-60px);
        border-radius: 10px 0 0 10px;
    }

    #sejarah .container .content .other .tragedi img:hover+.card-body {
        transform: translate(65px);
        border-radius: 0 10px 10px 0;
    }

    footer {
        width: 100%;
        height: auto;
        margin: 0;
        display: flex;
        flex-wrap: nowrap;
        justify-content: center;
    }

    footer .cipta {
        width: 35%;
    }

    footer .cipta img {
        width: 40px;
        height: 40px;
    }

    footer .cipta h5 {
        font-size: 0.6rem;
    }

    footer .contact i,
    footer .sosial i {
        font-size: 1rem;
    }

    footer .contact,
    footer .sosial {
        gap: 0;
        margin: 0;
        width: 35%;
    }

    footer span {
        font-size: 0.6rem;
    }
}

@media (min-width: 767px) and (max-width: 1024px) {

    #sejarah .container .content .other {
        margin-top: 10px;
    }

    #sejarah .container .content .other .fitur,
    #sejarah .container .content .other .tragedi {
        width: 100%;
        margin: 10px 0;
    }

    #sejarah .container .content .other .btn {
        position: relative;
        top: 0;
        left: 75%;
    }

    #sejarah .container .content .other .tragedi img {
        width: 190px;
        height: 180px;
    }

    /* class card-body */
    #sejarah .container .content .other .tragedi .card-body {
        width: 150px;
        height: 180px;
        position: absolute;
        top: 0;
        left: 20%;
    }

    #sejarah .container .content .other .tragedi img:hover {
        transform: translate(-60px);
        border-radius: 10px 0 0 10px;
    }

    #sejarah .container .content .other .tragedi img:hover+.card-body {
        transform: translate(75px);
        border-radius: 0 10px 10px 0;
    }
}